@import "primeicons/primeicons.css";
@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white;
    background: linear-gradient(135deg, #18181b 0%, #27272a 100%);
  }
  .font-playfair {
    font-family: 'Playfair Display', serif;
  }
}

@layer components {
  .btn-primary {
    @apply bg-pink-500 text-white px-4 py-2 rounded-full hover:bg-pink-600 transition-colors;
  }
  
  .btn-secondary {
    @apply bg-white text-pink-500 border border-pink-500 px-4 py-2 rounded-full hover:bg-pink-50 transition-colors;
  }
}

body {
  margin: 0;
  padding: 0;
}

